@import "../../variables";

.decisionCard__container *,
.decisionCard__container {
  background-color: $background;
}

.decisionCard__container {
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block: 3%;
  box-shadow: 7px 7px 11px 1px rgba($primary-dark, 0.25);
  cursor: pointer;
  &:hover {
    box-shadow: 7px 7px 11px 1px rgba($primary-dark, 0.4);
  }
}

.title_delete {
  display: flex;
  justify-content: space-between;
}

.delete_button {
  cursor: pointer;
  font-weight: bold;
  color: $tertiary-medium;
  border: 2px solid $tertiary-medium;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: -2rem;
  margin-inline-start: 18rem;
  z-index: 2;
}

.decision__delete--notAdmin {
  display: none;
}

.decisionCard__author {
  display: flex;
  align-items: center;
  &--fullname {
    padding-inline-start: 0.5ch;
  }
}

.decisionCard__avatar {
  @include avatar;
  margin-inline-end: 2%;
}

.decisionCard__beans {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.decisionCard__status,
.decisionCard__location,
.decisionCard__comments {
  @include statusButtons;
}

.decisionCard__status {
  color: $status-solid;
  background-color: $status-bg;
}
.decisionCard__location {
  color: $location-solid;
  background-color: $location-bg;
}
.decisionCard__comments {
  color: $comment-solid;
  background-color: $comment-bg;
}

@media (max-width: 700px) {
  .decisionCard__link {
    width: 100%;
    margin-inline-start: 1%;
  }
  .homepage__main {
    display: flex;
    flex-direction: column;
  }
}
