.edit_button {
  top: 0vh;
  float: right;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-inline: 1vw;
  height: 5vh;
  text-align: center;
  width: auto;
  border-radius: 15px;
  background-color: rgb(12, 57, 68);
  color: white;
  font-size: clamp(18px, 2vw, 1.2rem);
  cursor: pointer;
  margin-right: 6vw;
  margin-top: 3vh;
}

@media screen and (max-width: 700px) {
  .progress_edit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .edit_button {
    top: 0vh;
    float: right;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-inline: 1vw;
    height: 5vh;
    text-align: center;
    width: 55vw;
    border-radius: 15px;
    background-color: rgb(12, 57, 68);
    color: white;
    font-size: clamp(18px, 2vw, 1.2rem);
    cursor: pointer;
    margin-top: -1vh;
    margin-left: 6vw;
    margin-bottom: 3vh;
  }
}
