.icon {
  width: clamp(4vh, 30px, 4vw);
  filter: opacity(0.3) drop-shadow(0 0 0 green);
}
.progress__bar {
  font-size: clamp(0.75rem, 1.25vw, 1rem);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  width: 40vw;
  height: 12vh;
}
.progress__bar::before {
  content: "";
  background-color: lightslategray;
  top: 30%;
  transform: translateY(-50%);
  height: 4px;
  width: 85%;
  z-index: -1;
  transition: 0.4s ease;
  position: absolute;
}
.status {
  width: 7vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.status__circle {
  border-radius: 50%;
  border: 5px solid green;
  border-color: opacity(0.3) drop-shadow(0 0 0 green);
  background-color: white;
  margin-inline: 1vw;
  width: clamp(6vh, 60px, 6vw);
  height: clamp(6vh, 60px, 6vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  .progress__bar {
    width: 70vw;
    margin-block: 3vw;
  }
}
