@import "../../variables";

.status__icon {
  width: clamp(4vh, 30px, 4vw);
  filter: invert(100%);
  background-color: transparent;
}
.progress__bar {
  font-size: clamp(0.75rem, 1.25vw, 1rem);
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 40vw;
}
.progress__bar::before {
  content: "";
  background-color: $primary-pale;
  top: 24%;
  transform: translateY(-50%);
  height: 4px;
  width: 78%;
  z-index: 0;
  transition: 0.4s ease;
  position: absolute;
}
.status {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.status__circle {
  border-radius: 50%;
  border: 5px solid $primary-pale;
  background-color: $primary-light;
  width: clamp(6vh, 60px, 6vw);
  height: clamp(6vh, 60px, 6vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.visible {
  border: 5px solid $primary-dark;
  background-color: $primary-medium;
}

.progressBar__status {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  max-width: 5vw;
  height: 7vh;
}
.name__hidden {
  display: none;
}

@media screen and (max-width: 700px) {
  .progress__bar {
    width: 100%;
    padding-top: 2vh;
  }
  .progressBar__status {
    height: 5vh;
  }
  .progress__bar::before {
    top: 38%;
  }
}
