@import "../../variables";

.progressBar__icons {
  font-size: clamp(0.75rem, 1.25vw, 1rem);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  width: 40vw;
}

.progressBar__icon {
  width: clamp(4vh, 40px, 4vw);
  filter: opacity(0.3);
  border-radius: 50%;
}
.progressBar__icons::before {
  content: "";
  background-color: $primary-medium;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 80%;
  transition: 0.4s ease;
  position: absolute;
}

.status__circle {
  border-radius: 50%;
  border: 5px solid $primary-medium;
  background-color: $background;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.progressBar__status {
  text-align: center;
  color: $primary-medium;
  padding-block-start: 2%;
}
