@import "../../variables";
.newusers__content {
  margin-top: 19vh;
  font-family: $font-app;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newusers__button {
  background: $secondary-dark;
  border-radius: 15px;
  width: 10%;
  padding: 0.7rem;
  margin-top: 1rem;
  color: white;
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.newusers__title {
  color: $primary-dark;
  font-weight: bold;
  font-size: 150%;
  margin: 20px;
}
.newusers__form {
  background: $secondary-medium;
  border-radius: 15px;
  width: 25%;
  padding: 1.5rem;
  box-sizing: border-box;
  outline: 4px dashed $secondary-dark;
}

.newusers__label {
  display: flex;
  flex-direction: column;
}
.newusers__text {
  padding: 6px;
}
.newusers__input {
  border-radius: 5px;
  padding: 5px;
}
@media screen and (max-width: 950px) {
  .newusers__form {
    width: 50%;
  }
  .newusers__button {
    width: 30%;
  }
}
