@import "../../variables";

.createuser__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 91vh;
  margin-top: 9vh;
  background-color: $secondary-light;
  & * {
    background-color: $secondary-light;
  }
}
.createuser__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createuser__form--mandatoryFields {
  font-size: smaller;
  text-align: end;
  background-color: $background;
  * {
    background-color: $background;
  }
}

.createuser__button {
  @include buttons;
  font-size: large;
  background-color: $secondary-dark;
  width: 50%;
  padding: 4%;
}

.createuser__form--inputsBox {
  @include box;
  width: 30vw;
  margin-block: 2%;
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.createuser__label {
  display: flex;
  flex-direction: column;
  background-color: $background;
  & small {
    background-color: $background;
  }
  & strong {
    margin-block: 2%;
    background-color: $background;
    font-size: 1.2rem;
  }
}

.createuser__input {
  border-radius: 5px;
  width: 100%;
  height: 2rem;
  padding-inline: 1%;
}

.createuser__input--radios {
  display: flex;
  justify-content: center;
  gap: 5%;
  background-color: transparent;
  & input {
    transform: scale(1.5);
  }
  & * {
    background-color: transparent;
  }
}

.createuser__input--radioNo {
  margin-inline-end: 10%;
}

.createuser__input--radioNo,
.createuser__input--radioYes {
  display: flex;
  gap: 20%;
}

.createuser__message {
  margin-top: 1%;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .createuser__form {
    width: 50%;
  }
  .createuser__button {
    width: 30%;
  }
}
