@import "../../variables";
.title__paragraph {
  margin-block: 0.5vh;
  font-size: clamp(22px, 3vw, 1.5rem);
  padding-block: 2vh;
  cursor: pointer;
}

.descriptionBox {
  @include box;
  height: 75vh;
  width: 50vw;
}
.descriptionBox__scroll {
  overflow-y: scroll;
  height: 72vh;
  width: 48.5vw;
}
.descriptionBox__header {
  display: flex;
  padding-bottom: 3vh;
}
.descriptionBox__header--avatar {
  border-radius: 50%;
  border: 5px solid white;
  height: 17vh;
  margin-top: 2vh;
  margin-inline: 1vw;
}
.descriptionBox__header__right {
  margin: 2vw;
}
.descriptionBox__header__right--title {
  word-break: normal;
  font-size: clamp(25px, 3vw, 1.5rem);
  padding-top: 2vh;
}
.descriptionBox__header__right--writer {
  font-size: clamp(18px, 2vw, 1.5rem);
  margin-top: 1vh;
  padding-bottom: 2vh;
}
.decision__beans {
  padding-top: 1vh;
  display: flex;
  justify-content: flex-start;
}
.decision__status {
  @include statusButtons;
  background-color: $status-bg;
}
.decision__location {
  display: flex;
  @include statusButtons;
  background-color: $location-bg;
  align-items: center;
}
.decision__advices {
  @include statusButtons;
  background-color: $advice-bg;
}
.descriptionBox__body--paragraphs {
  display: flex;
  flex-direction: column;
}
.descriptionBox__body--text {
  font-size: clamp(18px, 2vw, 1.2rem);
}
.dividing__line {
  margin-block: 1.5vh;
  margin-inline: 1.5vw;
  width: auto;
  height: 3px;
  background-color: white;
  border: none;
}
.expanded {
  @include textBox;

  padding-block: 1vh;
}
.collapsed {
  display: none;
}

@keyframes slideOpen {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 700px) {
  .descriptionBox {
    width: 90vw;
    height: auto;
  }
  .descriptionBox__scroll {
    overflow: hidden;
    width: auto;
    height: auto;
  }
}
