@import "../../variables";
h4 {
  font-size: clamp(12px, 1.5vw, 1rem);
  margin-top: 7vh;
}

.descriptionBox {
  @include box;
  margin-top: 2vh;
  min-height: 100vh;
  height: auto;
  width: 50vw;
  padding-bottom: 7vh;
  margin-bottom: 10vh;
}
.descriptionBox__header {
  display: flex;
}
.descriptionBox__header--avatar {
  border-radius: 50%;
  border: 5px solid white;
  height: 18vh;

  margin-top: 5vh;
  margin-left: 1vw;
}
.descriptionBox__header__right {
  margin: 2vw;
}
.descriptionBox__header__right--title {
  font-size: clamp(1.1rem, 2.5vw, 1.6rem);
  margin: 0;
}
.descriptionBox__header__right--writer {
  font-size: clamp(12px, 1.5vw, 1rem);
  margin-top: 0.5rem;
}
.descriptionBox__body--paragraphs {
  display: flex;
  flex-direction: column;
}

.expanded {
  @include collapseOpen;
}
.collapsed {
  display: none;
  height: 5vh;
  background-color: azure;
}

.collapse__button {
  background-color: $primary-light;
  border-style: none;
  cursor: pointer;
}

@keyframes slideOpen {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideClose {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-50px);
  }
}
