@import "../../variables";

.descriptionBox {
  @include box;
  height: 75vh;
  width: 50vw;
  & * {
    background-color: $background;
  }
}

.title__paragraph {
  @include h2;
  padding-block: 1%;
  cursor: pointer;
}

.descriptionBox__scroll {
  @include scroll;
  height: 72vh;
  width: 48.5vw;
  overflow-x: hidden;
}
.descriptionBox__header {
  display: flex;
  padding-bottom: 2vh;
}
.descriptionBox__header--avatar {
  @include avatar;
  margin-top: 2vh;
  margin-inline-end: 1vw;
}
.descriptionBox__header--right {
  width: 82%;
}
.descriptionBox__header__right--title {
  word-break: normal;
  font-size: clamp(25px, 3vw, 1.5rem);
  padding-top: 2vh;
}
.descriptionBox__header__right--writer {
  @include h2;
  margin-top: 1vh;
  padding-bottom: 2vh;
}
.decision__beans {
  padding-top: 1vh;
  display: flex;
  justify-content: flex-start;
}
.decision__status {
  @include statusButtons;
  background-color: $status-bg;
}
.decision__location {
  @include statusButtons;
  background-color: $location-bg;
}
.decision__comments {
  @include statusButtons;
  background-color: $comment-bg;
}
.descriptionBox__body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 2vh;
  min-height: 50vh;
}
.descriptionBox__body--text {
  font-size: clamp(12px, 2vw, 1.2rem);
  background-color: $secondary-background;
  word-break: normal;
}
.dividing__line {
  margin-block: 1vh;
  margin-inline: 1.5vw;
  width: auto;
  height: 3px;
  background-color: $secondary-background;
  border: none;
}
.expanded {
  @include textBox;
  padding-block: 1vh;
  margin-inline-end: 1%;
  background-color: $secondary-background;
}
.collapsed {
  display: none;
  background-color: $secondary-background;
}
.disabled {
  display: none;
}

@media screen and (max-width: 700px) {
  .descriptionBox {
    width: 90vw;
    height: auto;
  }
  .descriptionBox__scroll {
    overflow: hidden;
    width: auto;
    height: auto;
  }
  .decision__beans {
    flex-direction: column;
    gap: 5px;
  }
  .descriptionBox__header__right--writer {
    padding-bottom: 0;
  }
  .descriptionBox__header__right--title {
    font-size: 1.3rem;
  }
  .descriptionBox__header {
    padding-bottom: 0;
  }
}
