@import "../../variables";

@keyframes LogoAnimation {
  0% {
    transform: translateY(0vw);
    scale: 4;
  }
  50% {
  }

  100% {
    transform: translateY(-5.5vh) translateX(0vw) scale(0.3);
  }
}

@keyframes FormAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }

  80% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.login__content {
  font-weight: bold;
  color: $primary-dark;
  font-family: $font-app;
  background-image: url("../../assets/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $background;
  * {
    background-color: transparent;
  }
}
.login__form {
  animation: FormAnimation 2s linear forwards;
  width: 14rem;
  margin-top: 1rem;
}
.login__logo {
  animation: LogoAnimation 1.5s linear forwards;
  width: 20rem;
  scale: 4;
  position: absolute;
}

.login__button {
  @include buttons;
  margin-inline: 20%;
}

.login__input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: $primary-light;
}

.login__error {
  color: $tertiary-medium;
  margin-block-start: 2%;
}

@media (max-width: 700px) {
  .login__content {
    background-image: url("../../assets/background-image-mobile.png");
  }
  .login__logo {
    width: 80%;
  }
  .login__error {
    font-size: 0.85rem;
  }
}
