@import "../../variables";

.secondaryNav__nav {
  position: fixed;
  top: 13%;
  z-index: 20;
}

.secondaryNav__links * {
  background-color: $primary-medium;
}

.secondaryNav__links {
  outline: 1px solid $primary-medium;
  background-color: $primary-medium;
  display: flex;
  justify-content: space-around;
  & a {
    color: $accent-medium;
    font-weight: bold;
    padding-block: 1rem;
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 6px;
    }
  }
}

.secondaryNav__bottom {
  width: 100%;
  height: 15px;
}
