@import "../../variables";

.secondaryNav__nav {
  position: fixed;
  top: 9vh;
  z-index: 20;
  background-color: transparent;
  & * {
    background-color: transparent;
  }
}

.secondaryNav__links {
  outline: 1px solid $primary-medium;
  background-color: $primary-medium;
  display: flex;
  justify-content: space-around;
  & a {
    @include h2;
    color: $accent-medium;
    font-weight: bold;
    padding-block: 1rem;
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 6px;
    }
  }
}

.secondaryNav__bottom {
  width: 100%;
  height: 15px;
}

@media (max-width: 700px) {
  .secondaryNav__links a {
    font-size: small;
    text-align: center;
    border: dashed currentColor;
    border-width: 0 1px 0 1px;
    padding-inline: 2%;
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
    }
  }
}
