@import "../../variables";

.commentSection__container {
  @include box;
  height: 65vh;
  width: 43vw;
  padding-block: 2vh;
  padding-inline: 1%;
  & * {
    background-color: $background;
  }
}

.commentSection__title {
  @include h2;
  margin-bottom: 1vh;
  margin-left: 3vw;
}
.commentSection__input--field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 36%;
}
.commentSection__textarea {
  resize: none;
  padding: 1%;
  margin-inline: 1vw;
  border-style: none;
  border-radius: 10px;
  height: 85%;
  width: 95%;
  font-size: clamp(18px, 2vw, 1.2rem);
  background-color: $secondary-background;
  overflow: hidden;
}
.comment__button {
  @include buttons;
  cursor: pointer;
  margin-block: 1%;
}
.commentSection__comment--container {
  @include scroll;
  height: 60%;
  padding-inline: 1%;
}
.commentSection__comment--box {
  @include textBox;
  padding-block: 0.5vh;
  max-width: 31vw;
  display: flex;
  word-break: break-all;
  margin-block: 1vh;
  background-color: $secondary-background;
  & * {
    background-color: $secondary-background;
  }
}
.commentSection__comment--avatar {
  @include avatar;
  height: 6vh;
  width: auto;
  border-width: 3px;
  margin-block: 1vh;
}
.commentSection__comment--assembly {
  display: flex;
  gap: 0.5vw;
}
.commentSection__comment__textSection {
  font-size: clamp(18px, 2vw, 1.2rem);
}
.commenSection__comment--dateTime {
  color: #939292;
  margin-bottom: 1vh;
}

.dividing__line {
  background-color: $secondary-background;
}

@media screen and (max-width: 700px) {
  .commentSection {
    margin-block: 2vh;
  }
  .commentSection__title {
    font-size: clamp(16px, 1rem, 1.4rem);
  }
  .commentSection__container {
    width: 90vw;
  }
  .commentSection__textarea {
    width: 86.5vw;
  }
}
