/*
 IMPORT STYLE WITH:

 @use '../1_variables_sass/variables';

 AND ADD THE NAME OF THE FILE "variables." BEFORE $
*/

//MAKESENSE FONT

$font-app: "Raleway", sans-serif;

//MAKESENSE COLORS
//BLUE
$opac-blue: rgba(25, 108, 132, 0.2);
$medium-blue: rgba(25, 108, 132);
$dark-blue: rgb(12, 57, 68);
//GREEN
$opac-green: rgba(36, 103, 58, 0.5);
$medium-green: rgb(112, 175, 144);
$dark-green: rgba(36, 103, 58, 1);
//YELLOW
$medium-yellow: rgb(255, 243, 13);
$light-yellow: rgb(252, 246, 160);
//RED
$light-red: rgb(227, 97, 100);
$medium-red: rgb(198, 46, 67);
$dark-cerise: rgb(155, 8, 79);
