@import "../../variables";

.nav__nav {
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 25;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10vw;
  padding-block: 0.5vh;
  background-color: $background;
  font-weight: bold;
  top: 0%;
  height: 9vh;
  & * {
    background-color: $background;
  }
}

.nav__items,
.nav__links {
  display: flex;
  align-items: center;
  @include h2;
}

.nav__links--notAdmin {
  display: none;
}

.nav__links--user {
  color: $secondary-dark;
}

.nav__links--decision::before {
  @include bean;
}

.nav__logo {
  width: 15%;
  &--img {
    width: 100%;
  }
}

.nav__avatar--img {
  @include avatar;
  margin-inline-start: 10px;
  width: 60px;
  height: 60px;
}

.nav__avatar--input {
  position: absolute;
  height: 64px;
  width: 60px;
  top: 0;
  right: 10vw;
  opacity: 0;
  cursor: pointer;
}

.nav__avatar--edit {
  width: 25px;
  height: 25px;
  border: 2px solid currentColor;
  border-radius: 50%;
  padding: 3px;
  position: absolute;
  top: 5vh;
  right: 10vw;
}

// mobile version

@media (max-width: 700px) {
  .nav__links {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-size: 0.9rem;
    &--decision::before {
      all: unset;
    }
  }
  .nav__avatar--img {
    width: 55px;
    height: 55px;
    margin-inline-start: 8px;
  }
  .nav__avatar--edit {
    width: 20px;
    height: 20px;
    top: 5.5vh;
    right: 2.3vw;
  }
  .nav__nav {
    padding-inline: 2vw;
  }
  .nav__logo {
    width: 100px;
  }
  .nav__avatar--input {
    height: 30px;
    width: 30px;
    top: 5.5vh;
    right: 0;
  }
}
