@import "../../variables";

.nav__nav {
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 25;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10vw;
  padding-block: 1vh;
  background-color: white;
  font-weight: bold;
  top: 0%;
}

.nav__items,
.nav__links {
  display: flex;
  align-items: center;
}

.nav__links--decision::before {
  @include bean;
}

.nav__logo {
  width: 15%;
  &--img {
    width: 100%;
  }
}

.nav__avatar {
  @include avatar;
  margin-inline-start: 10px;
  cursor: pointer;
}

.bubble_profil {
  position: absolute;
  right: 12vw;
  top: 10.5vh;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(25, 108, 132);
}

.bubble_hover {
  border: 2px solid black;
  border-radius: 50px;
  width: 3vw;
  height: 4vh;
  position: absolute;
  right: 4vw;
}

.bubble_avatar {
  z-index: 10;
  position: absolute;
  top: 11.5vh;
  right: 6.5vw;
  color: rgb(12, 57, 68);
  border-radius: 15px;
  width: 12vw;
  text-align: center;
  border: 2px solid rgb(25, 108, 132);
  background-color: white;
}

#bubble_logout {
  width: 11.5vw;
  padding-top: 8.5vh;
  padding-bottom: 1vh;
  margin: 0 auto;
  color: red;
}

.bubble_list {
  line-height: 3.5vh;
  margin-top: 1vh;
}

hr {
  border: 1px solid red;
  width: 8vw;
  position: absolute;
  top: 25vh;
  right: 1.8vw;
}

.bubble_link {
  color: red;
}

// mobile version

@media (max-width: 660px) {
  .nav__links {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    &--decision::before {
      all: unset;
    }
  }
  .nav__avatar {
    width: 60px;
    height: 60px;
    margin-inline-start: 8px;
  }
  .nav__nav {
    padding-inline: 2vw;
  }
  .nav__logo {
    width: 100px;
  }

  .bubble_avatar {
    z-index: 10;
    position: absolute;
    top: 1.5vh;
    right: 17vw;
    font-size: 3.5vw;
    border-radius: 15px;
    width: 30vw;
    text-align: center;
    border: 2px solid rgb(25, 108, 132);
    background-color: white;
  }

  .bubble_profil {
    rotate: 90deg;
    position: absolute;
    right: 14vw;
    top: 3.5vh;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(25, 108, 132);
  }

  .bubble_hover {
    border: 2px solid black;
    border-radius: 50%;
    width: 5vw;
    height: 4vh;
    text-align: center;
    position: absolute;
    right: 12vw;
  }
  #bubble_logout {
    width: 28.5vw;
    padding-top: 6vh;
  }
  .bubble_list {
    line-height: 3vh;
    margin-top: 1vh;
  }

  hr {
    border: 1px solid red;
    width: 18vw;
    position: absolute;
    top: 21vh;
    right: 5.5vw;
  }
}
