@import "../../variables";

.createDecision__main {
  display: flex;
  gap: 2%;
  margin-inline: 2%;
  margin-top: 9vh;
}

@media (max-width: 700px) {
  .createDecision__main {
    display: flex;
    flex-direction: column;
  }
  .createDecisionForm__content--decision {
    width: auto;
    height: auto;
  }
  .createDecisionForm__content {
    overflow: auto;
  }
  .createDecisionForm__button {
    margin-block: 4%;
  }
}

.createDecisionForm__content {
  flex-grow: 3;
}

.createDecision__aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.createDecisionForm__button {
  @include buttons;
  font-size: larger;
}
