@import "../../variables";

.homepage__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  padding-inline: 1vw;
  padding-block-start: 1%;
  background-color: $secondary-background;
  position: absolute;
  z-index: 1;
  top: 20%;
  &::after {
    @include bean;
    width: 70vw;
    height: 0.25rem;
  }
}

.homepage__main {
  padding: 1%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  top: 25%;
  background-color: $secondary-background;
  & * {
    background-color: $secondary-background;
  }
}
