//MAKESENSE FONT
$font-app: "Raleway", sans-serif;
$lightFont: white;
$darkFont: rgb(12, 57, 68);

//MAKESENSE COLORS
$background: #ffff;
//BLUE
$primary-pale: rgba(232, 240, 243);
$primary-light: rgba(209, 226, 230);
$primary-medium: rgba(25, 108, 132);
$primary-dark: rgb(12, 57, 68);
//GREEN
$secondary-light: rgba(188, 219, 205);
$secondary-medium: rgb(112, 175, 144);
$secondary-dark: rgba(36, 103, 58);
//RED
$tertiary-pale: rgba(242, 181, 183);
$tertiary-light: rgb(227, 97, 100);
$tertiary-medium: rgb(198, 46, 67);
$tertiary-dark: rgb(155, 8, 79);
//YELLOW
$accent-medium: rgb(255, 243, 13);
$accent-light: rgb(252, 246, 160);

//BUTTONS
//STATUS
$status-bg: rgba(188, 219, 205, 1);
$status-solid: rgb(71, 65, 54);
//LOCATION
$location-bg: rgba(242, 181, 183, 1);
$location-solid: rgb(71, 65, 54);
//ADVICE
$advice-bg: rgb(252, 246, 160);
$advice-solid: rgb(71, 65, 54);
//USERS
$user-button_bg: rgba(25, 108, 132);
$user-button_solid: rgb(12, 57, 68);
//ADMIN
$admin-button_bg: rgba(36, 103, 58);
$admin-button_bg: rgb(71, 65, 54);

//PROGRESS BAR
$progress-bar: rgb(243, 151, 107);

//INPUT LOGIN
$input-login_bg: rgba(209, 226, 230);

//MIXIN BOX
@mixin box {
  background-color: $primary-light;
  outline: 4px dashed $primary-dark;
  border-radius: 20px;
  padding: 1vw;
}
//MIXIN COLLAPSE PARAGRAPH
@mixin collapseOpen {
  padding-inline: 2vw;
  padding-block: 1vh;
  border-radius: 10px;
  background-color: white;
  height: auto;
  width: auto;
  font-size: clamp(18px, 2vw, 1.5rem);
  animation: slideOpen 0.5s cubic-bezier(0.5, 0, 0.75, 0) 0s 1 normal forwards;
}

// Style
@mixin bean {
  display: inline-block;
  margin-inline: 0.75rem;
  margin-block: 0.15rem;
  content: "";
  border-radius: 0.25rem;
  background-color: currentColor;
  width: 1rem;
  height: 0.3rem;
}

@mixin avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid $background;
}

@mixin box {
  background-color: $primary-light;
  outline: 4px dashed $primary-dark;
  border-radius: 20px;
  padding: 2%;
}

@mixin statusButtons {
  border: 1px solid currentColor;
  border-radius: 20px;
  padding: 1%;
  padding-inline: 5%;
  margin-inline: 2px;
  text-align: center;
}

@mixin scroll {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: currentColor rgb($primary-medium, 0.5);

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: rgb($primary-medium, 0.5);
  }

  &::-webkit-scrollbar-thumb {
    background-color: currentColor;
    border-radius: 20px;
    border: 3px solid rgb($primary-medium, 0.5);
  }
}

@mixin buttons {
  background-color: $primary-medium;
  color: white;
  text-align: center;
  padding: 4%;
  border-radius: 50px;
  font-weight: bold;
}

@mixin statusButtons {
  border: 1px solid $status-solid;
  border-radius: 20px;
  padding: 1%;
  padding-inline: 5%;
  margin-inline: 2px;
  text-align: center;
}
