@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: $primary-dark;
  font-family: $font-app;
  background-color: $background;
}

button {
  all: unset;
}
