@import "../../variables";

.decision__page {
  padding: 1vw 2vw 0 2vw;
  background-color: $secondary-background;
  margin-top: 9vh;
  & * {
    background-color: $secondary-background;
  }
}
.decision__page--body {
  display: flex;
  align-items: center;
}
.openAndClose--date {
  @include h2;
}
.right__section {
  margin-left: 2vw;
}
.decision__page--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
