.decision__page {
  margin-inline: 1vw;
  padding-inline: 1vw;
}
.decision__page--body {
  display: flex;
  align-items: center;
  margin-top: 4vh;
}
.openAndClose--date {
  font-size: clamp(16px, 1.2rem, 1.4rem);
}
.right__section {
  margin-left: 2vw;
}
.decision__page--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
